**/.terraform/*
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# 誤コミット防止（実値に差し替える運用を想定）
**/terraform.tfvars
